<!DOCTYPE html>
<html lang="en">
<head>
  <title>CMSC 495 Final Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <script src="/javascripts/scripts.js"></script>
</head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
		function popup(url, tag, write){
			popupWindow=window.open(url, tag, 'height=350,width=350,left=100,top=100,resizable=yes');
			let title = "<title>Nsight</title>";
			popupWindow.document.write(title + write);
		}
	</script>  
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidenav">     
      <ul class="nav nav-pills nav-stacked nav-tabs leftsidebar">
	      
        <li class="nav-item active"><a href="#section1" id="fileupload">Import</a></li>
	      
          <form enctype="multipart/form-data" name="myform" id="myform" method="post">
            <input type="file" id="my_file" name="filename" accept=".pcap, .pcapng" style="display: none;" />
            <input type="submit" value="Submit" style="display: none;" />
          </form>
	      
        <li class="nav-item "><a href="#section2">Export</a></li>
        <li class="nav-item "><a href="#section3" onclick="popup('', 'About', 'Nsight is an analytic tool created to help network administrators efficiently classify network traffic  by allowing the user to import a PCAP of network traffic.')">About</a></li>
        <li class="nav-item "><a href="#section3"onclick="popup('', 'Help', 'To begin analysis select Import to import a PCAP file. Once the PCAP has been imported select the radio button for the desired analytic type.')">Help</a></li>     
      </ul><br>
      <div class="container-fluid center-block imageContainer">    
        <img class="center-block" src="images/Nsight-Logo.png"/>
      </div>      
    </div>

    <div class="col-sm-10 mainContent setHeight">
        <h1 class="text-center">Nsight</h1>
      <h4 class="text-center"><medium>Network Traffic Monitoring & Analysis</medium></h4>
      <hr>
      <ul class="list-inline text-center sublist">
          <li class="list-inline-item"><h5><span id="utcTime"></span></h5></li>
          <li class="list-inline-item"><h5>Public IPv4: <span id="publicIP"></span></h5></li>
          <li class="list-inline-item"><h5>Private IPV4: <span id="privateIP"></span></h5></li>
       </ul>
      <div  id="donutchart"></div>      
      <br>  
        <div class="container-fluid col-sm-6">
            <h3 class="text-center radiotitle">SELECT A VISUALIZATION</h3><br>
            <div class="radiobox">
              <div class="radio ">
                  <label><input class="radioitem portdist" type="radio" name="optradio" checked> Relative Distribution of Protocols</label>          
              </div>
                <div class="radio">
                  <label><input class="radioitem ipdist" type="radio" name="optradio" > Relative Distribution of Destination IPs</label>          
              </div>
            </div>
        </div>            

      <br><br>        
      </div>     
        <div class="container col-sm-10 footer" style="height: 271px;">

            <table class="table text-center myTable">
                <thead>
                  <tr>
                    <th scope="col">Entry Number</th>
                    <th scope="col">Request Timestamp</th>
                    <th scope="col">Request IP:Port</th>
                    <th scope="col">Response IP:Port</th>
                    <th scope="col">Protocol</th>
                  </tr>
                </thead>
                <tbody>                 
                </tbody>
              </table>          
        </div>                  
    </div>  
</div>
</body>
</html>
